<!DOCTYPE html>


<body>
  <nav>
    <h1>Quick Route</h1>
    <div class="onglets">
      <p routerLink="/home-page" class="link">Home</p>
      <p routerLink="/customer-page" class="link">Customer</p>
      <p routerLink="/register-page" class="link">Register</p>
      <p routerLink="/login-page" class="link">Login</p>
      <form>
        <input type="search" placeholder="Search">
      </form>
      <p routerLink="/cart-page" class="link">Cart</p>

      <p><i class="far fa-heart"></i></p>
      <p><i class="fas fa-shopping-cart"></i></p>
    </div>
  </nav>
   

    <section class="main">
            
        <div class="cards">
          
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2016/01/27/21/28/tomatoes-1165338_960_720.jpg?q=w_1700,h_956,x_0,y_0,c_fill">
            <div class="card-header">
              <h4 class="title">Tomato</h4>
                                <h4 class="price">9$</h4>

                        <button class="button">
                    <span>Add to cart</span>
                    <div class="cart">
                        <svg viewBox="0 0 36 26">
                            <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                            <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                    </div>
                </button> 
            </div>
          </div>
            
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2017/06/27/07/17/cucumbers-2446470_960_720.jpg?q=w_1700,h_956,x_0,y_0,c_fill">
                <div class="card-header">
                  <h4 class="title">Cucumber</h4>
                  <h4 class="price">9$</h4>
                  <button class="button">
                    <span>Add to cart</span>
                    <div class="cart">
                        <svg viewBox="0 0 36 26">
                            <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                            <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                    </div>
                </button>
                </div>
            </div>
            
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2015/03/14/14/00/carrots-673184_960_720.jpg?q=w_1700,h_956,x_0,y_0,c_fill">
                <div class="card-header">
                  <h4 class="title">Carrot</h4>
                  <h4 class="price">9$</h4>
                  <button class="button">
                    <span>Add to cart</span>
                    <div class="cart">
                        <svg viewBox="0 0 36 26">
                            <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                            <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                    </div>
                </button>
                </div>
            </div>

            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2018/03/08/23/18/market-3210178_960_720.jpg?q=w_1700,h_956,x_0,y_0,c_fill">
                <div class="card-header">
                  <h4 class="title">Pepper</h4>
                  <h4 class="price">9$</h4>
                                    <button class="button">
                    <span>Add to cart</span>
                    <div class="cart">
                        <svg viewBox="0 0 36 26">
                            <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                            <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                    </div>
                </button>
                </div>
            </div>
            
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2018/03/08/23/18/fruit-3210171_960_720.jpg?q=w_1700,h_956,x_0,y_0,c_fill">
                <div class="card-header">
                  <h4 class="title">Apple</h4>
                  <h4 class="price">9$</h4>
                                    <button class="button">
                    <span>Add to cart</span>
                    <div class="cart">
                        <svg viewBox="0 0 36 26">
                            <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                            <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                    </div>
                </button>
                </div>
            </div>
            
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2016/07/16/12/43/banana-1521484_960_720.jpg?q=w_1700,h_956,x_0,y_0,c_fill">
                <div class="card-header">
                  <h4 class="title">Banana</h4>
                  <h4 class="price">9$</h4>
                                    <button class="button">
                    <span>Add to cart</span>
                    <div class="cart">
                        <svg viewBox="0 0 36 26">
                            <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                            <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                    </div>
                </button>
                </div>
            </div>

            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2014/08/06/20/32/potatoes-411975_960_720.jpg?q=w_1700,h_956,x_0,y_0,c_fill">
                <div class="card-header">
                  <h4 class="title">Potato</h4>
                  <h4 class="price">9$</h4>
                                    <button class="button">
                    <span>Add to cart</span>
                    <div class="cart">
                        <svg viewBox="0 0 36 26">
                            <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                            <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                    </div>
                </button>
                </div>
            </div>
            
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2016/05/16/22/47/onions-1397037_960_720.jpg?q=w_1700,h_956,x_0,y_0,c_fill">
                <div class="card-header">
                  <h4 class="title">Onion</h4>
                  <h4 class="price">9$</h4>
                                    <button class="button">
                    <span>Add to cart</span>
                    <div class="cart">
                        <svg viewBox="0 0 36 26">
                            <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                            <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                    </div>
                </button>
                </div>
            </div>

            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2017/06/09/17/07/orange-2387550_960_720.jpg?q=w_1700,h_956,x_0,y_0,c_fill">
                <div class="card-header">
                  <h4 class="title">Orange</h4>
                  <h4 class="price">9$</h4>
                                    <button class="button">
                    <span>Add to cart</span>
                    <div class="cart">
                        <svg viewBox="0 0 36 26">
                            <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                            <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                    </div>
                </button>
                </div>
            </div>

            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2015/02/08/22/08/strawberries-629180_960_720.jpg?q=w_1700,h_956,x_0,y_0,c_fill">
                <div class="card-header">
                  <h4 class="title">Strawberry</h4>
                  <h4 class="price">9$</h4>
                                    <button class="button">
                    <span>Add to cart</span>
                    <div class="cart">
                        <svg viewBox="0 0 36 26">
                            <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                            <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                    </div>
                </button>
                </div>
            </div>

            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2021/10/31/14/43/avocados-6757663_960_720.jpg?q=w_1700,h_956,x_0,y_0,c_fill">
                <div class="card-header">
                  <h4 class="title">Avocado</h4>
                  <h4 class="price">9$</h4>
                                    <button class="button">
                    <span>Add to cart</span>
                    <div class="cart">
                        <svg viewBox="0 0 36 26">
                            <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                            <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                    </div>
                </button>
                </div>
            </div>

            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2017/04/22/12/38/olives-2251260_960_720.jpg?q=w_1700,h_956,x_0,y_0,c_fill">
                <div class="card-header">
                  <h4 class="title">Olive</h4>
                  <h4 class="price">9$</h4>
                                    <button class="button">
                    <span>Add to cart</span>
                    <div class="cart">
                        <svg viewBox="0 0 36 26">
                            <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                            <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                    </div>
                </button>
                </div>
            </div>

            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2016/07/22/09/59/fruits-1534494_960_720.jpg?q=w_1700,h_956,x_0,y_0,c_fill">
                <div class="card-header">
                  <h4 class="title">Grape</h4>
                  <h4 class="price">9$</h4>
                                    <button class="button">
                    <span>Add to cart</span>
                    <div class="cart">
                        <svg viewBox="0 0 36 26">
                            <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                            <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                    </div>
                </button>
                </div>
            </div>
              
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2010/12/13/10/18/watermelons-2636_960_720.jpg?q=w_1700,h_956,x_0,y_0,c_fill">
                <div class="card-header">
                  <h4 class="title">Watermelon</h4>
                  <h4 class="price">9$</h4>
                                    <button class="button">
                    <span>Add to cart</span>
                    <div class="cart">
                        <svg viewBox="0 0 36 26">
                            <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                            <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                        </svg>
                    </div>
                </button>
                </div>
            </div>  
          
         </div>
      
    </section>
</body>
